<link rel="stylesheet" href="/css/comments.css" />

<li class="comment" id="comment-<%= comment._id %>">
  <p>
    <% if((locals.user)&&(locals.user.id == comment.user.id)){ %>
    <small>
      <a class="delete-comment-button" href="/comments/destroy/<%=comment.id%>"
        >X</a
      >
    </small>
    <%}%> 
    <h3><%=comment.content%></h3>
    
    <small id="comment-name"> <%= comment.user.name %> </small>
  </p>
</li>
