<link rel="stylesheet" href="/css/home.css" />

<div id="home-container">
  <section id="feed-posts">
    <% if(locals.user){ %>
    <form
      id="post-form"
      action="/posts/create"
      id="new-post-form"
      method="POST"
    >
      <textarea
        id="post-input"
        name="content"
        cols="60"
        rows="3"
        placeholder="Type Here..."
        required
      ></textarea>

      <br />
      <input id="post-button" type="submit" value="Post" />
    </form>
    <% } %>

    <div id="posts-list-container">
      <ul>
        <% for(var post of posts){ %> <%- include('_post',{post:post}) -%> <%}
        %>
      </ul>
    </div>
  </section>

  <section id="user-friends">
    <h2 style="color: grey; text-align: center">Friends</h2>
    <% for(u of all_users){%>
    <p>
      <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
    </p>
    <% } %>
  </section>
</div>
<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>
