<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial / Profile Page
</h1>

<p>Name: <%=user.name %></p>
<p>Email: <%=user.email %></p>

<form action="/users/sign-in" method="POST">
<input type="text" name="email" value="<%=user.email%>" disabled>
<input type="submit" value="Sign Out">
</form>