<link rel="stylesheet" href="/css/sign_in.css" />
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
  integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ=="
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous"
/>

<div class="sign-in-form">
  <h1 style="color: white">Sign In</h1>
  <form action="/users/create-session" method="POST">
    <input
      style="margin: 5px 0; border-radius: 2px; padding: 2px"
      type="email"
      name="email"
      placeholder="Email"
      required
    />
    <br />
    <input
      style="margin: 5px 0; border-radius: 2px; padding: 2px"
      type="password"
      name="password"
      placeholder="Password"
      required
    />
    <br />
    <input
      style="
        margin: 5px 0;
        border-radius: 2px;
        padding: 2px;
        background-color: orange;
        color: grey;
      "
      type="submit"
      value="Sign In"
    />
  </form>

  <p>
    <a class="google-button" href="/users/auth/google">
      <i class="fa fa-google-plus"></i> Google Sign In/Sign Up</a
    >
  </p>
</div>
