#layout-footer {
  color: orange;
  a {
    color: orange;
    text-decoration: none;
  }

  background: #6200ee;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  bottom: 0;
  width: 100%;

  .footer-nav {
    ul {
      list-style: none;
    }
  }
}
