#home-container {
  display: flex;
  min-height: 100%;
  background-color: #e9e6f5;
  #feed-posts {
    width: 75%;
    padding: 20px;
    text-align: center;
    ul {
      list-style: none;
      padding: 0;
    }

    #post-form {
      border: white 1px solid;
      padding: 20px 0;
      background-color: white;
      border-radius: 2px;
      margin: 0 15%;
      #post-input {
        border: none;
        border-bottom: 1px solid black;
        margin: 5px;
      }
      #post-button {
        background-color: orange;
        color: white;
        border: 1px solid orange;
        padding: 5px;
        width: 20%;
      }
    }
    #posts-list-container {
      text-align: left;
      border: transparent 1px solid;
      padding: 0;
      background-color: transparent;
      border-radius: 2px;
      margin: 10px 15% 200px 15%;
    }
  }

  #user-friends {
    max-width: 25%;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    height: 100%;

    p {
      a {
        text-decoration: none;
        color: orange;
      }
    }
  }
}
