#user-chat-box {
  z-index: 1;
  position: fixed;
  bottom: 35px;
  right: 10px;
  border: 1px dashed grey;
  height: 350px;
  width: 300px;
  background: white;
  box-shadow: 1px 1px 1px 1px lightgrey; }
  #user-chat-box #chat-head {
    width: 100%;
    height: 40px;
    background-color: #6200ee;
    margin: 0;
    color: orange;
    text-align: center;
    font-size: 35px;
    padding: 5px 0; }
  #user-chat-box #chat-messages-list {
    list-style: none;
    padding: 10px;
    height: 70%;
    background-color: white;
    overflow: auto; }
    #user-chat-box #chat-messages-list .other-message {
      color: white;
      text-align: left;
      padding: 5px; }
      #user-chat-box #chat-messages-list .other-message span {
        display: inline-block;
        padding: 15px;
        background-color: #ffa0a0; }
    #user-chat-box #chat-messages-list .self-message {
      color: white;
      text-align: right;
      padding: 5px; }
      #user-chat-box #chat-messages-list .self-message span {
        display: inline-block;
        padding: 15px;
        background-color: #a0dcff; }
  #user-chat-box #chat-message-input-container {
    height: 24%;
    width: 100%;
    display: flex;
    flex-direction: row; }
    #user-chat-box #chat-message-input-container #chat-message-input {
      height: 50%;
      width: 70%; }
    #user-chat-box #chat-message-input-container #send-message {
      height: 50%;
      width: 30%;
      font-size: 25px;
      color: orange;
      border: none;
      background: #6200ee; }
