.comment {
  margin: 5px;
  padding: 3px 10px;
  background-color: #f1ecec;
  color: orange; }
  .comment h3 {
    padding: 0;
    margin: 0; }
  .comment #comment-name {
    color: grey;
    font-size: 10px;
    margin: 0;
    padding: 0; }
  .comment p {
    margin: 5px; }
    .comment p small a {
      position: relative;
      left: 95%;
      background-color: orange;
      color: white;
      text-decoration: none;
      padding: 3px;
      border-radius: 100%; }
