#home-container {
  display: flex;
  min-height: 100%; }
  #home-container #feed-posts {
    width: 75%;
    padding: 10px; }
  #home-container #users-friends {
    width: 25%;
    padding: 10px;
    border-left: 1px solid lightgray;
    min-height: 100%;
    background-color: grey; }
    #home-container #users-friends h4 {
      color: green; }
