li {
  background-color: orange;
  color: white;
  margin: 5px;
  padding: 5px; }
  li .delete-post-button {
    position: relative;
    left: 95%;
    background-color: white;
    color: orange;
    padding: 4px;
    border-radius: 100%;
    text-decoration: none; }
  li h1 {
    padding: 0;
    margin: 2px 0; }
  li #post-user {
    font-size: 12px;
    color: grey;
    margin: 0;
    padding: 0; }
  li .post-comments form #comment-content {
    border: none;
    border-bottom: 1px solid grey;
    background-color: orange;
    width: 90%;
    margin: 5px; }
  li .post-comments form #comment-post {
    background-color: white;
    color: orange;
    border: 1px solid white;
    margin: 5px; }
  li #post-comments-list {
    margin: 0;
    padding: 0; }
