body .profile-center {
  width: 50%;
  margin: 30px auto;
  text-align: center;
  background-color: #e26429;
  border-radius: 20px;
  padding: 15px 0;
  color: white; }

body input {
  margin: 10px 0;
  border-radius: 2px;
  padding: 2px; }
